.change-password-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  .password-field {
    position: relative;
  }
  
  /* Eye icon button styling */
  .eye-icon {
    width: 20px;
    position: absolute;
    right:5px;
    top: 15%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #888; /* Icon color */
  }

  button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover{
    background-color: white;
    color: black;
  }
  button:disabled {
    background-color: #ccc;
  }
  