<div class="reset-password-container">
    <h2>Reset Password</h2>
   <!-- reset-password.component.html -->
<form [formGroup]="resetPasswordForm" (ngSubmit)="changePassword()">
    <div>
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email">
    </div>
    <div>
      <label for="otp">OTP</label>
      <input id="otp" formControlName="otp" type="text">
    </div>
    <div>
      <label for="newPassword">Password:</label>
      <div class="password-field">
      <input [type]="passwordVisibility ? 'text' : 'password'"  formControlName="newPassword" [ngClass]="{'error': resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched}">
      <button
        type="button"
        class="eye-icon"
        (click)="togglePasswordVisibility()"
      >
        {{ passwordVisibility ? '👁️' : '🙈' }}
      </button>
      </div>
      <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched">
        <div *ngIf="resetPasswordForm.get('newPassword')?.errors?.['weakPassword']">Weak password.</div>
        <div *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']">Password is required.</div>
        
      </div>
    </div>

    <div>
      <label for="confirmPassword">Confirm Password:</label>
      <div class="password-field">
      <input [type]="passwordVisible ? 'text' : 'password'"  formControlName="confirmPassword" [ngClass]="{'error': resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched}">
      <button
      type="button"
      class="eye-icon"
      (click)="togglePasswordVisible()"
    >
      {{ passwordVisible ? '👁️' : '🙈' }}
    </button>
    </div>
      <div *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched">Passwords must match.</div>
    </div>
    <button type="submit">Reset Password</button>
  </form>
  
  </div>
  