footer {
  text-align: center;
  padding: 1rem;
  background: black  ;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 30px;
}
.copyright {
  padding: 0.3em 1em;
}
.footer-menu{
  float: left;
    margin-top: 10px;
}
.footer-menu a{
  color: white;
  padding: 6px;
  text-decoration: none;
}
.footer-menu a:hover{
  color: white;
  text-decoration: underline;
}
.copyright p {
  font-size: 0.9em;
  text-align: right;
  padding-right: 30px;
  color: white;
}

