.profile-settings {
  padding-top: 50px;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  padding: 20px;
  background-color: white; 
  border-radius: 8px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding-top: 60px;
  height:100%;
  
}

.profile-picture {
  display: flex;
  align-items: center;
  margin-bottom: 20px; 
}

.profile-picture img {
  height: 100px; 
  border-radius: 50%; 
  margin-right: 20px; 
}

.details-container {
  display: flex; /* Use flexbox to align personal and contact details side by side */
  justify-content: space-between; /* Space between columns */
  margin-bottom: 20px; /* Space below the details section */
}

.left-side, .right-side {
  flex: 1; /* Equal flex for both sides */
  margin-right: 20px; /* Space between the two sections */
  padding:20px;
  
}

.left-side:last-child,
.right-side:last-child {
  margin-right: 0; /* Remove margin from the last item */
}

input {
  width: 100%;
  padding: 12px; 
  margin: 10px 0; 
  border: 1px solid #ccc; 
  border-radius: 30px; 
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); 
}

input:focus {
  border-color: black; 
  outline: none; 
}

h3 {
  margin-top: 0; 
  border-radius: 30px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  border-radius: 30px;
}

.buttons button {
  margin-left: 10px; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 30px; 
  background-color:black; 
  color: white; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.buttons button:hover {
  background-color: white; 
  color: black;
}
