<div class="profile-settings">
  <div class="profile-picture">
    <img src="assets/default-pfp.jpg" alt="Profile Picture" />
  </div>

  <div class="details-container">
    <h3>Profile Details</h3>
    <div class="details">
      <p><strong>Username:</strong> {{ userName }}</p>
      <p><strong>First Name:</strong> {{ firstName }}</p>
      <p><strong>Last Name:</strong> {{ lastName }}</p>
      <p><strong>Email:</strong> {{ email }}</p>
      <p><strong>Contact Number:</strong> {{ contactNumber }}</p>
    </div>
    <a routerLink="/reset-password" class="forgot-password">Forgot Password</a>
  </div>
</div>
