.profile-settings {
  padding-top: 50px;
  display: flex;
  width: 50%; /* Set a specific width for the container */
  margin: 0 auto; /* Center align the container horizontally */
  
  padding: 20px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 100%;
  align-content: center;
}

.profile-picture {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-picture img {
  height: 100px;
  border-radius: 50%;
}

.details-container {
  padding: 20px;
  align-self: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.details {
  margin-top: 150px;
  margin-bottom: 20px;
  line-height: 1.6;
}

.details p {
  margin: 10px 0;
  font-size: 16px;
}

h3 {
  margin-top: 0;
}

.forgot-password {
  display: block;
  margin-top: 20px;
  color: #2074cd;
  text-decoration: underline;
  cursor: pointer;
  text-align: center; /* Center-align the forgot password link */
}
